body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
}
nav ul{
    margin: 0; padding: 0;
    text-align: center;
}
nav ul li{
    display: inline;
    list-style-type:  none;
    color: #fff;
    background-color: aquamarine;
}
nav ul li a {
    display: inline-block;
    text-decoration:none;
    color: #fff;
    background-color: aquamarine;
    padding: 10px 30px;
    margin-right: 1px;
    width: 120px;
}
nav ul li a:hover {
    background-color: chartreuse;
}